<!-- Footer -->
<footer class="bg-black text-white text-base md:text-lg leading-6 flex flex-col justify-center py-4">
    <div class="max-w-screen-xl px-4 py-12 mx-auto space-y-8 overflow-hidden sm:px-6 lg:px-8">
        <nav class="flex flex-wrap justify-center -mx-5 -my-2">
            <div class="mx-2 md:mx-3 py-2">
                <a href="/helena" class="p-4">
                    Helena
                </a>
            </div>
            <div class="mx-2 md:mx-3 py-2">
                <a href="/coaching" class="p-4">
                    Coaching
                </a>
            </div>
            <div class="mx-2 md:mx-3 py-2">
                <a href="/coaching/#priceTabs" class="p-4">
                    Tarifs
                </a>
            </div>
            <div class="mx-2 md:mx-3 py-2">
                <a href="/helena/#contact" class="p-4">
                    Contact
                </a>
            </div>
        </nav>
        <div class="flex justify-center mt-8">
            <a target="_blank" rel="noreferrer" href="https://www.facebook.com/coachingbyhelenabordeaux" class="flex flex-col justify-center items-center p-3">
                <span class="sr-only px-4 md:px-6">Facebook</span>
                
            </a>
            <a target="_blank" rel="noreferrer" href="https://www.instagram.com/coaching.by.helena/?hl=fr" class="flex flex-col justify-center items-center p-3">
                <span class="sr-only px-4 md:px-6">Instagram</span>
                
            </a>
        </div>
        <p class="mt-8 font-medium text-sm text-white">
            ©2021 Coaching by Helena | Tous droits réservés | made by <a href="http://" target="_blank" rel="noopener noreferrer">NoteDigitale</a>
        </p>
    </div>
</footer>